{% extends 'temp/base.html' %}
{% block content %}
<br><br>
<style>
    *{
        background-color: rgb(226, 234, 237);
    }
    #demo2{
        /* border: 2px solid; */
        height: 50px;
        width: 390px;
        background-color: deepskyblue;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }
    button{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    button:hover{
        cursor: pointer;
        transform: scale(1.2) skew(-5deg);
        transition-duration: 5s;
    }
</style>
<h1 id="demo2">Welcome to My Bank </h1>
<br><br>
<ul>
        <li><button><a href="{% url 'account_create' %}">Create New Account</a></button></li><br>
        <li><button><a href="{% url 'pin_generation' %}">Generate PIN</a></button></li><br>
        <li><button><a href="{% url 'deposite' %}">Deposit Money</a></button></li><br>
        <li><button><a href="{% url 'withdraw' %}">Withdraw Money</a></button></li><br>
        <li><button><a href="{% url 'tansfer_money' %}">Transfer Money</a></button></li><br>
        <li><button><a href="{% url 'account_details' %}">Account Details</a></button></li><br>
    </ul>
</center>
{% endblock content %}

